catboost>=1.2.7
lightgbm>=4.5.0
scikit-learn>=1.5.2
scipy>=1.14.1
statsmodels>=0.14.4
optuna>=4.1.0
numpy>=1.26.4
pandas>=2.2.3
matplotlib>=3.9.4
seaborn>=0.13.2
plotly>=6.0.1
gradio>=5.23.3
graphviz>=0.20.3
jupyter>=1.1.1
jupyterlab>=4.3.6
pillow>=11.1.0
requests>=2.32.3
tqdm>=4.67.1
